@use "./variables" as *;
@use "./breakpoints" as *;
@use "./utilities" as *;
@use "./base" as *;
@use "./functions" as *;
@use "./components/buttons" as *;

footer {
  margin-block-start: var(--margin-small);
  font-size: var(--font-size-x-small);
  text-align: center;
  color: var(--neutral-white);

  & a {
    color: var(--neutral-white);
  }
}
