@use '../variables' as *;
@use '../functions' as *;
@use 'sass:color';

@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: var(--padding-base) var(--padding-x-large) ;
  border-radius: var(--radius-small);
  background-color: $bg-color;
  transition: 0.2s;
}
// Generic Button //
.btn {
  @include btn;
}

@each $group, $shades in $colors {
  @each $key, $val in $shades {
    .btn-#{$key} {
      @include btn($val);
      &:hover, &:focus {
        background-color: color.adjust($val, $lightness: 5%);
      }
    }
    .btn-gradient-#{$key} {
      @include btn($val);
      &:hover, &:focus{
        background-image: $gradient-background;
        box-shadow: $base-shadow;
        outline: none;
      }
    }
    .btn-outlined-#{$key} {
      @include btn(white);
      border: $base-border-thickness solid $val;
      &:hover, &:focus {
        background-color: $val;
      }
    }
    .btn-complement-#{$key} {
      @include btn($val);
      color: light-comp($val);
      &:hover, &:focus{
        color: $val;
        background-color: light-comp($val);
      }
    }
  }
}