@use '../variables' as *;
@use '../functions' as *;
@use '../components/buttons' as *;

@mixin card {
  background-color: white;
  border-radius: var(--radius-large);
  padding: var(--padding-base) var(--padding-large);
  & .title {
    color: black;
    margin-block-end: var(--margin-base);
  }
  & .description {
    font-weight: var(--font-weight-regular);
    color: black;

    & span {
      font-weight: var(--font-weight-bold);
    }
  }
}

.card{
  @include card()
}
